body {
    background-color: #DCDCDC;
    font-family: Georgia,serif;
}

body header {

    color:#800080;
    text-align: center;
}

div article {
    background-color: #DDA0DD;
    padding: 5%;
    border-style: inset;
    border-width: thick;
    border-color; #C0C0C0
}

a:hover {
    color:#800000
}

 #sectionA {
     float: left;
     width: 70%;
     margin: auto;
 }

 #sectionB {
     float: left;
     width: 30%;
     margin-auto;
     padding-top: 80px;
    /*-webkit-column-count: 2; /* Chrome, Safari, Opera */
    /*-moz-column-count: 2; /* Firefox */
    /*column-count: 2;*/
}


body main article {
    margin-top: 100px;
    margin-bottom: 90px;
    margin-right: 150px;
    margin-left: 50px;
}

.video-titles {
    font-family:Impact, Charcoal, sans-serif
    font-size:18px;
    color:#800080;
}

.img-resize {
    width:180px;
    height: auto;
}

footer {
    padding-left:30px;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:30px;
}
